@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

body{
    background-color: #023047;

}

.heading-matting{
    text-align: justify;
    margin:2px;
    padding: 3px;

    border-style:ridge;
    border-radius: 10px;
    border-width: 20px;

    box-shadow: 2px 2px;

    display: grid;
    place-items: center; 

    background-color: #023047;

}


h1{
    text-align: center;
    color: #fb8500;
   
    font-family: 'Signika', sans-serif;
    font-size: 50px;
}

.rasta-dashboard-matting{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  
}

.card {
    font-size: 20px;
    text-align: justify;

    background-color: #219ebc;

    margin:2px;
    padding: 3px;

    border-style:groove;
    border-radius:5px;
    border-width:6px;
    border-color:lightgrey;

    box-shadow: 1px 1px;

    display: grid;
    place-items: center; 
}

.card:hover{
    background-color: rgb(90,90,90);
    font-size: 'Signika', sans-serif;
    color:#ffb703;
}

img{
    max-width: 60%;
    max-height: 60%;
}

.caption{
    color:black;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.caption:hover{
    color:#ffb703;
}

.matting{
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    text-align: justify;

    color:#ffb703;

    margin:2px;
    padding: 3px;

    border-style:ridge;
    border-radius: 10px;
    border-width: 20px;

    box-shadow: 2px 2px;

    display: grid;
    place-items: center; 

    background-color: #023047

}